{{#this}}

    <div class='am am-tech-support'>

        {{#ifCond options.lang '==' 'en'}}
            <p>Mobile site technical support-allmobilize</p>
        {{else}}
            <p>手机网站技术支持-云适配</p>
        {{/ifCond}}

    </div>
    
{{/this}}
