# system
.DS_Store

# editor
.idea

# node.js
npm-debug.log
node_modules/

# bower
.bower-cache
.bower-registry

# vendor
vendor/codemirror-emmet
vendor/less.js/

# tools
tools/app/public/style.css

# build
.sass-cache
.build
.cstmz-tmp
dist/*.zip
#dist/css
#dist/js
#dist/fonts
dist/sass
/js/amazeui.js
less/amazeui.widgets.less

# zip tmp files
docs/examples/assets/css/amazeui*.css
docs/examlsples/assets/js/amazeui*.js

#customize
tools/tasks/config.json
dist/customized
