lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.iml
pids
logs
results
npm-debug.log
node_modules/
.DS_Store
.nodemonignore
.sass-cache/

# Editor
.idea

# bower
/.bower-cache/
/.bower-registry/

# vendor
/vendor/codemirror-emmet
/vendor/less.js
/vendor/seaUse*.js

tools/app/public/style.css

less/amazeui.widgets.less

docs/examples/assets/css/amazeui*.css
docs/examples/assets/js/amazeui*.js

# build
.build
# dist/css
# dist/js
