/tools
/vendor
/docs
node_modules

# fixes #874
# /fonts

.bower-cache
.bower-registry
.bower-tmp
.idea
.bowerrc
.sass-cache

dist/.gitkeep
dist/*.zip

nodemon.json
composer.json
bower.json

.editorconfig
.jscsrc
.jshintrc
.npmignore
.travis.yml
CONTRIBUTING.md
gulpfile.js
