{{#this}}
  <div class="am am-powered-by{{#if className}} {{className}}{{/if}}" id="{{id}}">
    {{#ifCond options.lang '==' 'en'}}
      <div class="am-powered-by-bar">
        <a href="http://www.yunshipei.com" data-role="none" data-rel="external">Powered By <strong>AllMobilize</strong></a>
      </div>
    {{else}}
      <div class="am-powered-by-bar">
        <a href="http://www.yunshipei.com" data-role="none" data-rel="external">本手机网页使用<strong>云适配</strong>创建</a>
      </div>
    {{/ifCond}}
  </div>
{{/this}}