server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name ${DOMAIN_AC} ${LEGACY_DOMAIN_AC};

    ssl_certificate     /etc/letsencrypt/live/${DOMAIN_AC}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/${DOMAIN_AC}/privkey.pem;
    ssl_protocols       TLSv1.2 TLSv1.3;
    ssl_ciphers         HIGH:!aNULL:!MD5;

    root  /var/www/acdemo;
    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }
}
