/**
  * Titlebar Theme: one
  * Theme ID: one
  */

.am-titlebar-one {
  @global-primary: #15afef;
  @global-dark-gray: #888;

  @titlebar-text-color: @global-primary;
  @titlebar-title-color: @global-primary;
  @titlebar-left-a-color: @black;
  @titlebar-bg-color: @white;
  @titlebar-title-before: @global-primary;
  @titlebar-right-a-color: @global-dark-gray;

  margin: 0 10px!important;
  padding: 0!important;
  height: 39px!important;
  line-height: 40px!important;
  background: @titlebar-bg-color;
  overflow: hidden;
  border-bottom: 1px solid @titlebar-title-before;

  .am-titlebar-left {
    float: left;
    padding-left: 5px;
    position: relative;
    color: @titlebar-left-a-color;
    text-indent: 10px;
    width: 80%;
    .text-overflow();

    &::before{
      content: '';
      width: 4px;
      height: 30px;
      position: absolute;
      left: 5px;
      top: 5px;
      background: @titlebar-title-before;

    }
    img{
      max-height: 30px;
      vertical-align: top;
      margin-top: 4px;
    }
    a{
      color: @titlebar-left-a-color;
    }

    h1,h2,h3,h4,h5,h6,strong,em{
      font-style: normal;
      font-weight: normal;
      margin-bottom: 0;
    }

    ul,li{
      list-style: none;
      padding-left: 0;
    }


  }

  .am-titlebar-right {
    float: right;
    padding-right: 5px;
    color: @titlebar-right-a-color;
    font-size: 1.4rem;

    a{
      color: @titlebar-right-a-color;
    }
  }

  .hook-am-titlebar-one;
}

.hook-am-titlebar-one() {}