/**
  * Slider Theme: one
  */

.am-slider-one {
  @control-nav-bg-color: fadeout(@white, 10%);
  @control-nav-hover-bg-color: fadeout(@white, 30%);
  @control-nav-active-bg-color: @global-primary;
  @slider-dese-bg: fadeout(@black, 50%);
  @slider-dese-color: @white;

  @control-nav-bg-color: rgba(0,0,0,0.5);
  @control-nav-hover-bg-color: rgba(0,0,0,0.7);

  box-shadow: 0 1px 4px @control-nav-bg-color;

  margin:0 10px;

  .am-viewport {
    max-height: 2000px;
    transition: all 1s ease;

    .loading & {
      max-height: 300px;
    }

    .am-slider-desc{
      position: absolute;
      left: 0;
      bottom: 0;
      height: 26px;
      width: 100%;
      line-height: 26px;
      background: @slider-dese-bg;
      color: @slider-dese-color;

      .am-slider-title {
        font-weight: normal;
        font-size: 12px;
        text-indent: 4px;
        padding-right: 80px;
        .text-overflow();
      }
    }
  }

  /* Control Nav */
  .am-control-nav {
    display: none;
  }

  .am-direction-nav {
    a {
      position: absolute;
      top: 50%;
      z-index: 10;
      display: block;
      width: 24px;
      height: 24px;
      margin: -12px 0 0;
      overflow: hidden;
      opacity: 0.45;
      cursor: pointer;
      color: rgba(0, 0, 0, 0.8);
      text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
      transition: all .3s ease;

      &:before {
        .am-icon-font;
        color: @control-nav-hover-bg-color;
        content: @fa-var-chevron-left;
        font-size: 24px;
      }

      &.am-next {
        &:before {
          content: @fa-var-chevron-right;
        }
      }
    }

    .am-prev {
      left: 10px;
    }

    .am-next {
      right: 10px;
      text-align: right;
    }

    .am-disabled {
      opacity: 0!important;
      cursor: default;
    }
  }

  &:hover {
    .am-prev {
      opacity: 0.7;
      left: 10px;
      &:hover {
        opacity: 1;
      }
    }

    .am-next {
      opacity: 0.7;
      right: 10px;
      &:hover {
        opacity: 1;
      }
    }
  }

  .am-pauseplay {
    display: none;
  }

  .am-slider-desc {}

  .hook-am-slider-one;
}

.hook-am-slider-one() {}
