/**
  * Menu Theme: dropdown1
  * Theme ID: d1
  * Author: Minwe (minwe@yunshipei.com)
  */

.am-menu-dropdown1 {
  @menu-toggle-color: #fff;
  @menu-lv1-color: #fff;
  @menu-lv1-bg: @global-primary;

  @menu-lv1-active-color: #fff;
  @menu-lv1-active-bg: darken(@global-primary, 5%);
  @menu-lv1-link-height: 49px;

  @menu-sub-color: #555;
  @menu-sub-icon-color: #aaa;
  @menu-sub-bg: #fff;
  @menu-sub-link-height: 44px;

  @menu-border-color: darken(@menu-lv1-bg, 8%);

  position: relative;

  .am-menu-toggle {
    position: absolute;
    right: 10px;
    top: -35px;
    display: block;
    color: @menu-toggle-color;
  }

  a {
    .transition(all 0.4s);
    &:before {
      .am-icon-font;
    }
  }

  .am-menu-nav {
    position: absolute;
    left: 0;
    right: 0;
    z-index: @z-index-dropdown;
  }

  .am-menu-sub {
    display: none;
  }

  .am-menu-lv1 {
    a {
      padding: 0.8rem;
    }
    & > li {
      &.am-parent {
        > a {
          position: relative;
          &::before {
            content: @fa-var-plus;
            position: absolute;
            right: 1rem;
            top: 1.4rem;
          }
        }

        // active
        &.am-open {
          > ul {
            height: auto!important;
          }

          > a {
            background-color: @menu-lv1-active-bg;
            border-bottom: none;
            color: @menu-lv1-active-color;
            &::before {
              content: @fa-var-minus;
            }
            &::after {
              content: "";
              .caret-down(8px, @menu-lv1-active-bg);
              position: absolute;
              top: 100%;
              left: 50%;
              margin-left: -4px;
            }
          }
        }
      }

      > a {
        border-bottom: 1px solid @menu-border-color;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
        background-color: @menu-lv1-bg;
        color: @menu-lv1-color;
        height: @menu-lv1-link-height;
        line-height: @menu-lv1-link-height;
        padding: 0;
        text-indent: 10px;

      }
    }
  }

  .am-menu-lv2 {
    background-color: @menu-sub-bg;
    a {
      color: @menu-sub-color;
      height: @menu-sub-link-height;
      line-height: @menu-sub-link-height;
      text-indent: 5px;
      padding: 0;

      &::before {
        content: @fa-var-angle-right;
        color: @menu-sub-icon-color;
        font-size: 16px;
        margin-right: 5px;
      }

    }
  }

  .hook-am-menu-dropdown1;

  /*@media @medium-up {
    .am-menu-nav {
      > .am-parent {
        > a {
          display: none;
        }
      }

      .am-menu-lv1 {
        background-color: @lv2-bg-color;
        display: block;
        & > li {
          clear: none;

        }
      }

      .am-menu-lv2 {
        & > li {
          clear: none;
          width: auto;
        }
      }
    }
  }*/
}

.hook-am-menu-dropdown1() {}
