/**
  * Menu Theme: default
  * Author: Minwe (minwe@yunshipei.com)
  */

.am-menu-default {
  @menu-nav-link-color: @global-primary;
  @menu-nav-link-height: 44px;

  .am-menu-nav {
    & > li {
      height: @menu-nav-link-height;
      line-height: @menu-nav-link-height;
    }

    a {
      text-align: center;
      .text-overflow(block);
      padding: 0;
      color: @menu-nav-link-color;
    }
  }

  .hook-am-menu-default;

  @media @medium-up {
    .am-menu-nav {
      li {
        width: auto;
        float: none;
        display: inline-block;
      }

      a {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
    }
  }
}

.hook-am-menu-default() {
}
