<!DOCTYPE html>
<html>

<head>
	<script src="https://unpkg.com/vconsole@latest/dist/vconsole.min.js"></script>
	<!-- UMD module -->
	<script src="https://nhp.opennhp.cn/sdk/nhpzzd-v2.0.js"></script>
	<!-- 模板版本号：v3.0 2024.11.11 -->
	<meta charset="UTF-8" />
	<script type="text/javascript">
		const NHP_INTERVAL = 12 * 60 * 60 * 1000; // 敲门时间间隔
		const NHP_SERVER = "{{ .nhpServer }}"; // NHP服务器地址
		const ASP_ID = "{{ .aspId }}"; // 授权服务提供商ASP的ID，例如 "zzd"表示浙政钉
		const dev = "{{ .dev }}"; // 资源ID，一般为目标资源的ID
		const RES_ID = "{{ .resId }}"; // 资源ID，一般为目标资源的ID
		const ERR_SUCCESS = 0;
		const ERR_EXIT = 1;
		console.log('dev', dev);
		function setCookie(name, value, expiresDays = null, path = '/', domain = '', secure = false) {
			let cookieString = `${name}=${encodeURIComponent(value)}`;
			if (expiresDays) {
				const date = new Date();
				date.setTime(date.getTime() + (expiresDays * 24 * 60 * 60 * 1000)); // 计算过期时间（以天数为单位）
				cookieString += `; expires=${date.toUTCString()}`;
			}
			cookieString += `; path=${path}`;
			if (domain) {
				cookieString += `; domain=${domain}`;
			}
			if (secure) {
				cookieString += '; Secure'; // 如果是https网站，可以添加Secure属性以使cookie只能通过安全连接传输
			}
			document.cookie = cookieString;
		}
	</script>
</head>

<body>
	<script type="text/javascript">
		// VConsole 默认会挂载到 `window.VConsole` 上
		if (dev=='true')var vConsole = new window.VConsole();
		// 接下来即可照常使用 `console` 等方法
		//console.log("Redirect");
	</script>

	<script type="module">
		// nhp.js 已重新打包过 挂载在全局的window对象上
		//下面这行输出的NHP对象不为空则加载正常
		if (dev=='true') console.log(window.nhp);
		let domain = document.domain.split(".")
		let cookiedomain = '.' + domain[1] + "." + domain[2]
		setCookie('NHP_SERVER', NHP_SERVER, null, '/', cookiedomain)
		setCookie('ASP_ID', ASP_ID, null, '/', cookiedomain)
		setCookie('RES_ID', RES_ID, null, '/', cookiedomain)
		if (dev=='true') nhp.debug(1); //打开Debug日志输出，便于调试。 1=打开；0=关闭；
		// 成功登录,进行持续敲门
		const nhpTimer = nhp.open(
			NHP_INTERVAL, // internval 敲门间隔
			NHP_SERVER, // nhpServer NHP服务器地址
			ASP_ID, // aspId 身份验证授权服务提供商ASP的ID字符串，"zlb"或者"zzd"
			RES_ID, // resId 目标资源的ID字符串，一般为浙政钉的AppId，如"2002389897"
			function (nhpJson) {
				//if (dev=='true') alert('nhp.open调用成功，返回结果：' + JSON.stringify(nhpJson))
				if (dev=='true') console.log(nhpJson);
				if (nhpJson.errCode == ERR_SUCCESS) {
					// NHP敲门成功，动态获取数据资源API的地址
					// 例如：'cloudsafe-app.huzhou.gov.cn'
					const API_SERVER = nhpJson.resHost.apiServer;
					// 缓存API SERVER的地址，如遇NHP服务器不能访问，可以使用该缓存地址	
					localStorage.setItem("apiServer", API_SERVER);

					// 页面跳转
					if (dev=='true') console.log("SUCCESS");
					if (dev=='true') console.log(nhpJson);
					if (dev=='true') console.log(API_SERVER);
					if (dev=='true') console.log("redirectUrl: ", nhpJson.redirectUrl);
					if (dev=='true') console.log("apiServer: ", nhpJson.resHost.apiServer);

					dd.openLink({
						url: nhpJson.redirectUrl,
					})
						.then((res) => {
							if (dev=='true') console.log(res);
						})
						.catch((err) => { });
				} else if (nhpJson.errCode == ERR_EXIT) {
					// NHP服务要求退出，关闭NHP敲门
					nhp.close(nhpTimer);
				} else {
					// 输出错误消息
					if (dev=='true') console.log(nhpJson.errMsg);
				}
			}
		); //nhp.open

		// 结束调试后，可以移除
		if (dev=='true') vConsole.destroy();
	</script>
</body>

</html>