
[http]
  [http.routers]
    #
    # hqdata-opennhp-cn
    #
    [http.routers.router-hqdata-opennhp-cn]
      entryPoints = ["web"]
      #rule = "Host(`*`)"
      rule = "PathPrefix(`/`)"
      service = "service-demo"
      #tls = "true"
      
  [http.services]
    [http.services.service-demo.loadBalancer]
      [[http.services.service-demo.loadBalancer.servers]]
        url = "http://web-app:8080"