# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Build and Test Code on Ubuntu

permissions:
  contents: read

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.24'

    - name: Build
      run: make

    - name: Lint nhp
      uses: golangci/golangci-lint-action@v9
      with:
        version: v2.7.2
        args: --timeout=5m
        working-directory: nhp

    - name: Lint endpoints
      uses: golangci/golangci-lint-action@v9
      with:
        version: v2.7.2
        args: --timeout=5m
        working-directory: endpoints

    - name: Test
      run: make test
